<!-- Add Employee Modal -->
<div id="add_employee" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ newEmployee.id == 0 ?  'Add' : 'Update' }} Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addEmployeeForm="ngForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">First Name <span class="text-danger"></span></label>
                                <input class="form-control" type="text"
                                    name="firstName" [(ngModel)]="newEmployee.firstName">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Last Name</label>
                                <input class="form-control" type="text"
                                 name="lastName" [(ngModel)]="newEmployee.lastName">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Username <span class="text-danger"></span></label>
                                <input class="form-control" type="text"
                                   name="Username" [(ngModel)]="newEmployee.username">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Email <span class="text-danger"></span></label>
                                <input class="form-control" type="email"
                                    name="email" [(ngModel)]="newEmployee.email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3 date-input1">
                                <label class="col-form-label" for="">Date Of Birth <span class="text-danger"></span></label>
                                <div class="cal-icon">
                                    <input class="form-control datetimepicker" type="text" bsDatepicker type="text" container=".date-input1"
                                        name="dateEmbauche" [(ngModel)]="newEmployee.dateNaissance">
                                   
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-sm-6">
                            <div class="input-block mb-3 date-input1">
                                <label class="col-form-label" for="">Joining Date <span class="text-danger"></span></label>
                                <div class="cal-icon">
                                    <input class="form-control datetimepicker" type="text" bsDatepicker type="text" container=".date-input1"
                                        name="dateEmbauche" [(ngModel)]="newEmployee.dateEmbauche">
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3 date-input1">
                                <label class="col-form-label" for="">Leaving Date <span class="text-danger"></span></label>
                                <div class="cal-icon">
                                    <input class="form-control datetimepicker" type="text" bsDatepicker type="text" container=".date-input1"
                                        name="dateEmbauche" [(ngModel)]="newEmployee.dateDepart">
                                
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Phone </label>
                                <input class="form-control" type="text"
                                    name="telephone" [(ngModel)]="newEmployee.telephone">
                              
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Department <span class="text-danger"></span></label>
                                <mat-select  class="select mat-cust-select form-control"
                                    name="department" placeholder="Select Department" [(ngModel)]="newEmployee.departmentNom">
                                    <mat-option value="">Select Department</mat-option>
                                    <mat-option *ngFor="let departement of departements" [value]="departement.nom">{{ departement.nom }}</mat-option>
                                </mat-select>
                         
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Designation <span class="text-danger"></span></label>
                                <mat-select  class="select mat-cust-select form-control"
                                    name="designation" placeholder="Select Designation" [(ngModel)]="newEmployee.designationNom">
                                    <mat-option value="">Select Designation</mat-option>
                                    <mat-option *ngFor="let designation of designations" [value]="designation.nom">{{ designation.nom }}</mat-option>
                                </mat-select>
                               
                            </div>
                        </div>
                    </div>
                    
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit" (click)="addEmployee()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Employee Modal -->

<!-- Edit Employee Modal -->
<div id="edit_employee" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="updateEmployee()" #editForm="ngForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">First Name <span class="text-danger"></span></label>
                                <!-- <input class="form-control" name="firstName" type="text"> -->
                                <input class="form-control" [(ngModel)]="employees.firstName" name="firstName" type="text">


                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Last Name</label>
                                <input class="form-control" value="Doe" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Username <span class="text-danger"></span></label>
                                <input class="form-control" value="johndoe" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Email <span class="text-danger"></span></label>
                                <input class="form-control" value="johndoe@example.com" type="email">
                            </div>
                        </div>
                        <div class="col-sm-6">  
                            <div class="input-block mb-3 date-input2">
                                <label class="col-form-label" for="">Date Of Birth <span class="text-danger"></span></label>
                                <div class="cal-icon"><input class="form-control datetimepicker" bsDatepicker container=".date-input2" type="text"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">  
                            <div class="input-block mb-3 date-input2">
                                <label class="col-form-label" for="">Joining Date <span class="text-danger"></span></label>
                                <div class="cal-icon"><input class="form-control datetimepicker" bsDatepicker container=".date-input2" type="text"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">  
                            <div class="input-block mb-3 date-input2">
                                <label class="col-form-label" for="">Leaving Date <span class="text-danger"></span></label>
                                <div class="cal-icon"><input class="form-control datetimepicker" bsDatepicker container=".date-input2" type="text"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Phone </label>
                                <input class="form-control" value="9876543210" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Department <span class="text-danger"></span></label>
                                <mat-select  class="form-control" placeholder="Select">
                                    <mat-option value="select">Select Department</mat-option>
                                    <mat-option value="development">Web Development</mat-option>
                                    <mat-option value="it">IT Management</mat-option>
                                    <mat-option value="marketing">Marketing</mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Designation <span class="text-danger"></span></label>
                                <mat-select class="select mat-cust-select form-control"
                                placeholder="Select Designation">
                                <mat-option>Select Designation</mat-option>
                                <mat-option>Web Designer</mat-option>
                                <mat-option>Web Developer</mat-option>
                                <mat-option>Android Developer</mat-option>
                            </mat-select>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Employee Modal -->

<!-- Delete Employee Modal -->
<div class="modal custom-modal fade" id="delete_employee" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Employee</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Employee Modal -->